.App {
	text-align: center;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Scoped to the editor */
.tiptap p {
	margin: 1em 0;
	height: 100%;
}

#root {
	height: 100%;
	margin: 0;
	padding: 0;
}
